<!DOCTYPE html>
<html lang="en">
<link href="home.css" rel="stylesheet" type="text/css"/>
<body style="background-image:url(../static/moroccan-flower.png);">
</body>
<head>
    <meta charset="UTF-8">
    <title>assignment3</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Quiz4</h1>
    <h1>1001778272</h1>
    <h2>Hengchao Wang</h2>
</div>


<div class="container">
    <form action="/home" method="POST">
        <input name="point" value="deppie" style="display:none;">
        <div class="input-group">
{#            <input type="text" class="form-control" style="width:30%;" placeholder="input minimum depth" name="dep1">#}
{#            <input type="text" class="form-control" style="width:30%;" placeholder="input maximum depth" name="dep2">#}
            <input type="text" class="form-control"  placeholder="input Country" name="country">
            <span class="input-group-btn">
        <button class="btn btn-default" type="submit"> Pie chart</button>
            </span>
        </div>
    </form>
</div>


<div class="container">
    <form action="/home" method="POST">
        <input name="point" value="scatter" style="display:none;">
        <div class="input-group">
            <input type="number" class="form-control" style="width:50%;" placeholder="input minimum lat" name="dep1">
            <input type="number" class="form-control" style="width:50%;" placeholder="input maximum lat" name="dep2">
            <span class="input-group-btn">
        <button class="btn btn-default" type="submit">  Scatter</button>
            </span>
        </div>
    </form>
</div>

<div class="container">
    <form action="/home" method="POST">
        <input name="point" value="bar" style="display:none;">
        <div class="input-group">
{#            <input type="text" class="form-control" style="width:30%;" placeholder="input minimum depth" name="dep1">#}
            <input type="text" class="form-control" style="width:50%;" placeholder="input Country" name="country">
            <input type="number" class="form-control" style="width:50%;" placeholder="input segment(Default is 500)" name="seg">
            <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Bar chart</button>
            </span>
        </div>
    </form>
</div>


{##}
{##}
{#<div class="container">#}
{#    <form action="/home" method="POST">#}
{#        <input name="point" value="line" style="display:none;">#}
{#        <div class="input-group">#}
{#            <input type="text" class="form-control" style="width:50%;" placeholder="input a segment of magnitude"#}
{#                   name="seg">#}
{#            <span class="input-group-btn">#}
{#        <button class="btn btn-default" type="submit">line chart</button>#}
{#            </span>#}
{#        </div>#}
{#    </form>#}
{#</div>#}

<div class="container">
    {% if k==0 %}  <h5>no record</h5>  {% endif %}
    {% if k>0 %}
        <h5>totally {{ k }} will show the first 100 rows</h5>
        <h5>Time {{ time }}</h5>
        <table class="table" border="1">
            <tr>
                <th>Number</th>
                <th>Volcano Name</th>
                <th>Country</th>
                <th>Region</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>Elev</th>
            </tr>
            {% for rel in result[:100] %}
                <tr>
                    <td>{{ rel[0] }}</td>
                    <td>{{ rel[1] }}</td>
                    <td>{{ rel[2] }}</td>
                    <td>{{ rel[3] }}</td>
                    <td>{{ rel[4] }}</td>
                    <td>{{ rel[5] }}</td>
                    <td>{{ rel[6] }}</td>

                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>

</body>
</html>